<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154050321552-9ag5g5rvsrhd4280r3ggfcf5p94no6i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154050321552-9ag5g5rvsrhd4280r3ggfcf5p94no6i3</string>
	<key>API_KEY</key>
	<string>AIzaSyC5p88O7dhQkGcQ3ROnwdKAu-f0Y47FYD4</string>
	<key>GCM_SENDER_ID</key>
	<string>154050321552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pin.memoriesPin</string>
	<key>PROJECT_ID</key>
	<string>memories-pin</string>
	<key>STORAGE_BUCKET</key>
	<string>memories-pin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154050321552:ios:a1fe3f5f9061e967de0c15</string>
</dict>
</plist>